
nom {

    color: #0404B4;
}

aT {
    font-size: 18pt;
    color: #088A08;
}

bilan {
    font-size: 16pt;
    color: #DF7401;
}

ac {

    color: #088A08;
}

q {

    color: #FF8000;
}

c {
    color: #0101DF;
}

d {
    color: #FF0000;
}

e {
    color: #FF0080;
}

ac {
    color: #0404B4;
}

