{% extends 'melec/base.html' %}

{% block content %}

    <p><h2>Terminale Bac MELEC</h2></p>
    <p><b> <a href="/Tp">Activité 1 : Préparation des opérations de réalisation, de mise en service,
        de maintenance</a></b></p>

    <p><b> <a href="/Tr"> Activité 2 : Réalisation</a></b></p>

    <p><b> <a href="/Tmi"> Activité 3 : Mise en service</a></b></p>

    <p><b> <a href="/Tma"> Activité 4 : Maintenance</a></b></p>

    <p><b> <a href="/Tc"> Activité 5 : Communication</a></b></p>


    <p><h2>Premiere Bac MELEC</h2></p>
    <p><b> <a href="/1p">Activité 1 : Préparation des opérations de réalisation, de mise en service,
        de maintenance</a></b></p>

    <p><b> <a href="/1r"> Activité 2 : Réalisation</a></b></p>

    <p><b> <a href="/1mi"> Activité 3 : Mise en service</a></b></p>

    <p><b> <a href="/1ma"> Activité 4 : Maintenance</a></b></p>

    <p><b> <a href="/1c"> Activité 5 : Communication</a></b></p>


    <p><h2>Seconde Bac MELEC</h2></p>
    <p><b> <a href="/2p">Activité 1 : Préparation des opérations de réalisation, de mise en service,
        de maintenance</a></b></p>

    <p><b> <a href="/2r"> Activité 2 : Réalisation</a></b></p>

    <p><b> <a href="/2mi"> Activité 3 : Mise en service</a></b></p>

    <p><b> <a href="/2ma"> Activité 4 : Maintenance</a></b></p>

    <p><b> <a href="/2c"> Activité 5 : Communication</a></b></p>






{% endblock content %}
